<nav class="ui inverted menu">
    <header class="header item"><a href="/"> {{title}} </a></header>
    <div class="right menu">
        <a class="active item" href="/homeAdmin"> Home</a>
        <a class="item" href="/report"> View Points</a>
        <a class="item" href="/logout"> Logout</a>
        <a class="item" href="/addPoint"> Add new POI</a>
        <a class="item" href="/editpoint"> Edit POI</a>
        <a class="item" href="/signupAdmin"> SignUp Administrator</a>

    </div>
</nav>

<section class="ui raised segment">


</section>