<section class="ui raised segment">
    <div class="ui grid">
    <aside class="six wide column">
    <img src="images/homer4.jpg" class="ui medium image">
    </aside>
    <article class="eight wide column">
    <table class="ui celled table segment">
    <thead>
    <tr>
    <th>helper class</th>
    <th>Category</th>
    </tr>
    </thead>
    <tbody>
    {{#formatSelect category}}
        take the first option
    {{Else}}
        take the 2nd option
    {{/formatSelect}}

    </tbody>

    </table>
    </article>
    </div>
</section>