<nav class="ui inverted menu">
    <header class="header item"> <a href="/"> Viewing Point of Interest by Category </a> </header>
    <div class="right menu">
        <a class="item" href="/home"> Home</a>
        <a class="active item" href="/report"> View Points</a>
        <a class="item" href="/logout">  Logout</a>
        <a class="item" href="/addPoint">  Add new POI</a>
        <a class="item" href="/cloud">  Gallery</a>
        <a class="item" href="/editpoint"> Edit POI</a>
        <a class="item" href="/testHelp"> Test helper</a>
    </div>
</nav>
