<div class="uk-card uk-card-default uk-card-body">
    <h3 class="uk-card-title">Cloudinary Credentials</h3>
    <form class="uk-form-horizontal" action="/updatecredentials" method="POST">
        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">Name</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-horizontal-text" type="text" name="name" value="{{this.cloudinary.cloud_name}}">
            </div>
            <label class="uk-form-label" for="form-horizontal-text">Key</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-horizontal-text" type="text" name="key" value="{{cloudinary.api_key}}">
            </div>
            <label class="uk-form-label" for="form-horizontal-text">Secret</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-horizontal-text" type="text" name="secret"
                       value="{{cloudinary.api_secret}}">
            </div>
        </div>
        <p uk-margin>
            <input type="submit" value="Update" class="uk-button uk-button-default"></input>
            {{error}}
        </p>
    </form>
</div>