<nav class="ui inverted menu">
    <header class="header item"> <a href="/"> Welcome to the Points of Interest </a> </header>
    <div class="right menu">
    {{#formatSelectMenu  ../PID}}
        <a class="item" href="/home"> Admin Home</a>
        <a class="item" href="/report"> Admin View Points</a>
        <a class="item" href="/addPoint">Admin Add new Point</a>
        <a class="item" href="/cloud">  Gallery</a>
        <a class="item" href="/settings"> Admin settings</a>
        <a class="item" href="/logout">  Admin Logout</a>
    {{else}}
        <a class="item" href="/home"> Home</a>
        <a class="item" href="/report"> View Points</a>
        <a class="item" href="/addPoint">  Add new Point</a>
        <a class="item" href="/cloud">  Gallery</a>
        <a class="item" href="/settings"> settings</a>
        <a class="item" href="/logout">  Logout</a>
    {{/formatSelectMenu}}
    </div>
</nav>

<script>
    $("#{{_id}}").addClass("active item");
</script>

