<section class="ui raised segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="images/homer5.jpg" class="ui medium image">
        </aside>
        <article class="eight wide column">
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Point of Int</th>
                    <th>Category</th>
                    <th>mongo obj id</th>
                </tr>
                </thead>
                <tbody>
                {{#each pois}}
                    <tr>
                        <td> {{name}} </td>
                        <td> {{category}} </td>
                        <td> {{_id}} </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </article>
    </div>
</section>