<section class="ui raised segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="images/homer5.jpg" class="ui medium image">
        </aside>
        <article class="eight wide column">
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Point of Int</th>
                    <th>Category</th>
                    <th>mongo obj id</th>
                </tr>
                </thead>
                <tbody>
                <select id="sel">
                    <option value="">-- Select --</option>
                </select>
                {{#each}}
                    <option value="{{this}}" {{selected this ../selectedState}}>{{this}}</option>
                {{/each}}
                </tbody>

            </table>
        </article>
    </div>
</section>