<nav class="ui inverted menu">
    <header class="header item"><a href="/"> Points of Interest </a></header>
    <div class="right menu">
        <a class="active item" href="/home"> Home</a>
        <a class="item" href="/report"> View Points</a>
        <a class="item" href="/logout"> Logout</a>
        <a class="item" href="/addPoint"> Add new POI</a>
    </div>
</nav>

<section class="ui raised segment">



</section>