{{> welcomemenu }}

<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="images/homer.png" class="ui medium image">
        </aside>
        <article class="ten wide column">
            <header class="ui  header"> Welcome to points of Interest main</header>
            <p> Lets see what we can find</p>
        </article>
    </div>
</section>



